<%= render "tabs" %>

<h3><%= @user.first_name %> has this instruments for rent:</h3>
<br>
<% @user.instruments.each do |instrument| %>

<div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'><%= instrument.id %></div>
  </div>
 <% if instrument.photo? %>
  <%= cl_image_tag instrument.photo.path, width: 150, height: 70, crop: :fill, class: "product-image hidden-xs" %>
<% end %>
  <div class='product-body'>
    <h2><%= instrument.title %></h2>
    <p><%= instrument.description %></p>
  </div>
  <ul class="list-inline product-controls hidden-sm hidden-xs">
    <%= link_to "details", instrument_path(instrument), class: "fa fa-info-circle" %>
    <%= link_to "edit", edit_instrument_path(instrument), class: "fa fa-pencil" %>
    <%= link_to "delete", instrument_path(instrument), method: :delete, class: "fa fa-ban" %>
  </ul>
</div>
<% end %>