<% @instruments.each do |instrument| %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path instrument.photo.public_id %>')">
    <div class="card-category"><%= instrument.category.name %></div>
    <div class="card-description">
      <h2><%= instrument.title %></h2>
      <p><%= instrument.location %></p>
    </div>
    <%= cl_image_tag instrument.user.user_avatar, class: "card-user" %>
    <%= link_to "details", instrument_path(instrument), class: "card-link" %>
  </div>
<% end %>
