<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Rentals</h1>
      <%= link_to "Add a Rental", new_rental_path %>

      <div>
      <% @rentals.each do |rental| %>
      <h2><%= rental.id %></h2>
      <p><%= rental.start_date %>-<%= rental.end_date %></p>
      <%= link_to "details", rental_path(rental) %>
      <%= link_to "edit", edit_rental_path(rental) %>
      <%= link_to "delete", rental_path(rental), method: :delete %>
      <% end %>
      </div>
    </div>
  </div>
</div>
