<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Instruments</h1>
      <%= link_to "Add an instrument", new_instrument_path %>

      <div>
      <% @instruments.each do |instrument| %>
      <h2><%= instrument.title %></h2>
      <p><%= instrument.description %></p>
      <%= link_to "details", instrument_path(instrument) %>
      <%= link_to	"edit", edit_instrument_path(instrument) %>
      <%= link_to "delete", instrument_path(instrument), method: :delete %>
      <% end %>
      </div>
    </div>
  </div>
</div>
