<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <% if @instrument.photo? %>
        <%= cl_image_tag @instrument.photo.path, width: 200, height: 300, crop: :fit %>
      <% end%>
      <h1><%= @instrument.title %></h1>
      <p><%= @instrument.description %></p>
       <%= link_to "back to instruments", instruments_path %>
    </div>
    <div class="col-sm-4">
     <%= render "datepicker", locals: { instrument: @instrument } %>
    </div>
  </div>
</div>
